<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ disc_name }}</title>
    <style>
    a {
    margin-left: 30pt;
    font-family: 'Century Gothic', Century, serif;
    font-size: 15pt;
    color: black
   }
   h2 {
    font-family: 'Century Gothic', Century, serif;
   }
    form {
    font-family: 'Century Gothic', Century, serif;
    margin-left: 30pt;
    font-size: 15pt;
   }
    table {
    font-family: 'Century Gothic', Century, serif;
    margin-left: 30pt;
    font-size: 15pt;
    border: 1px black;
    border-collapse: collapse;
   }
  </style>
</head>
<body>
<h2 style="text-align: center">{{ disc_name }}</h2>
<h2>Tables mark</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Mark</th>
        </tr>
        {% for item in marks %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                {% if session['role'] == 'TEACHER' %}
                 <form method="POST" action="/disciplines/{{ disc_name }}">
                    <td style="border-color: white">
                        <input type="hidden" name="remove_mark" value="{{item[3]}}" />
                        <input type="submit" value="Remove">
                    </td>
                </form>
                {% endif %}
            </tr>
        {% endfor %}
            <tr>
            {% if session['role'] == 'TEACHER' %}
            <form method="POST" action="/disciplines/{{ disc_name }}">
                {{ mark_add_form.hidden_tag() }}
                <td>ID: {{ mark_add_form.student }}{% for error in mark_add_form.student.errors %}{{ error }}{% endfor %}</td>
                <td>{{ mark_add_form.st_year }}{% for error in mark_add_form.st_year.errors %}{{ error }}{% endfor %}</td>
                <td>{{ mark_add_form.mark }}{% for error in mark_add_form.mark.errors %}{{ error }}{% endfor %}</td>
                <td style="border-color: white">{{ mark_add_form.submit }}</td>
            </form>
            {% endif %}
        </tr>
    </table>

    <h2>Homework</h2>
    <table border="1" cellpadding="10">
        <tr>
            <th>Teacher</th>
            <th>Homework date</th>
            <th>Description</th>
        </tr>
        {% for item in hw %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
                {% if session['role'] == 'TEACHER' %}
                <form method="POST" action="/disciplines/{{ disc_name }}">
                    <td style="border-color: white">
                        <input type="hidden" name="remove_hw" value="{{item[3]}}" />
                        <input type="submit" value="Remove">
                    </td>
                </form>
                {% endif %}
            </tr>
        {% endfor %}
        <tr>
            {% if session['role'] == 'TEACHER' %}
            <form method="POST" action="/disciplines/{{ disc_name }}">
                {{ hw_add_form.hidden_tag() }}
                <td>{{ teacher_name }} </td>
                <td>{{ hw_add_form.homework_date }}{% for error in hw_add_form.homework_date.errors %}{{ error }}{% endfor %}</td>
                <td>{{ hw_add_form.description }}{% for error in hw_add_form.description.errors %}{{ error }}{% endfor %}</td>
                <td style="border-color: white">{{ hw_add_form.submit }}</td>
            </form>
            {% endif %}
        </tr>
    </table>
<br>
<br>
<a href="/disciplines"><---</a>
</body>
</html>