<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student Registration</title>
    <style>
    a {
    margin-left: 30pt;
    font-family: 'Century Gothic', Century, serif;
    font-size: 15pt;
    color: black
   }
   h2 {
    font-family: 'Century Gothic', Century, serif;
   }
    form {
    font-family: 'Century Gothic', Century, serif;
    margin-left: 30pt;
    font-size: 15pt;
   }
  </style>
</head>
<body>
<h2 style = "text-align: center;">Student Registration</h2>
<form action="http://127.0.0.1:5000/registration_student" method="POST">
    {{ myform.hidden_tag() }}
    <br>
    {{ myform.login.label }} {{ myform.login }} {% for error in myform.login.errors %}
    {{ error }}{% endfor %}
    <br>
    {{ myform.password.label }} {{ myform.password }}{% for error in myform.password.errors %}
    {{ error }}{% endfor %}
    <br>
    {{ myform.name.label }} {{ myform.name }}{% for error in myform.name.errors %}
    {{ error }}{% endfor %}
    <br>
    {{ myform.id.label }} {{ myform.id }}{% for error in myform.id.errors %}
    {{ error }}{% endfor %}
    <br>
    {{ myform.st_semester.label }} {{ myform.st_semester }}{% for error in myform.st_semester.errors %}
    {{ error }}{% endfor %}
    <br>
    {{ myform.submit }}
</form>
<br>
<br>
<a href="/select_reg"><---</a>

</body>
</html>